#menulanguageSelection *{
  height: 24px;
}

#menulanguageSelection button{
  width: 96px;

  background-color: #ffd129;
  
  margin-left: 16px;
  margin-right: 16px;
}

#menulanguageSelection select{
  width: 176px;
}

#menuTextInput{
  width: 480px;
  height: 112px;
}

#menuTextInput textarea{
  width: 240px;

  resize: none;
}

#buttonGetText{
  width: 288px;
  margin-right: 16px;
}

#buttonDeleteUserToken{
  width: 176px;

  background-color: #ff0000;
}






