*{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 512px;
  height: 256px;    
  background-color: white;
  padding: 0;
  margin: 0;
}

header{
  display: flex;
  justify-content: space-around;

  background-color: #ffcf40;
}

a {
  color: #6600ff;
}

.textinput{
  height: 128px;
  resize: none;
}

.languagelist select{
  height: 32px;
}

.menu{
  display: flex;
  margin-top:16px;
}
